* {
  font-family: "Microsoft YaHei",sans-serif;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.container {
  width: 90vw;
  margin: 0 auto;
}
.head {
  padding: 0;
  background:  url("/images/head.jpg") no-repeat ;
  background-size:  100% 100%;
  height: 90vh;
  padding-top: 10vh;
  text-align: center;
}

.logo {
  height: 12vh;
  margin-bottom: 13vh;
  animation: 1s show forwards;
}
img {
  height: 100%;
}
@keyframes show {
  from { 
    transform-origin: center -40px ;
    transform: scale(3);
  }
  to {

    transform: scale(1);
  }
}
.intro {
  margin-bottom: 3vh;
  opacity: 0;
  animation : .5s play-ani 1.2s forwards;
}
.intro > .item{
  color: #fff;
  font-size: 3vh;
  line-height: 2.2;
  font-weight: lighter;
  letter-spacing: 0.1em;
}
@keyframes play-ani {
  from { 
    opacity: 0; 
  }
  to { 
    opacity: 1; 
  }
}
.phone {
  height: 23vh;
  margin-bottom: 3.5vh;
  opacity: 0;
  animation : .5s play-ani 1.2s forwards;
}
.down-arrow {
  height: 3vh;
}

.title {
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  color: #eee;
}
.title .title-line {
  display: inline-block;
  padding: 0 2em;
  font-size: 4vh;
  color: #ccc;
}

.main {
  height: 73vh;
  padding-top: 8vh;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.main .row .left {
  float: left;
  width: 50%;
  text-align: right;
}

.main .row .right {
  float: right;
  width: 50%;
  text-aligh: left;
}

.main .row h3 {
  font-size: 24px;
  margin: 3vh 0 2vh;
  color: #002261;
}
.main .row p {
  font-size: 2vh;
  color: #999;
  line-height: 1.8;
}

.farm > .right {
  padding: 0 14vw 0 5vw;
}
.app > .left {
  text-align: left !important;
  padding: 0 8vw 0 14vw;
}
.farm > * {
  height: 33vh;
}
.app > * {
  height: 28vh;
}

.footer {
  padding: 0 15vw;
}
.footer .container {
  width: 70vw;
  border-top: 1px solid #eee;
  padding: 4vh 4vw;
  height: 17vh;
  overflow: hidden;
}
.footer .left {
  float: left;
  height: 9vh;
  padding: 2vh 0;
  width: 14vw;
}
.footer .center {
  float: left;
  height: 9vh;
  padding-left: 2vw;
  width: 25vw;
}
.footer .center > p {
  font-size: 1vh;
  line-height: 1.8;
  color: #999;
}
.footer .right{
  float: left;
  height: 9vh;
  width: 22vw;
  text-align: right;
}
.footer .right > img {
  height: 2vh;
  margin-bottom: 4vh;
}
.footer .right .copy-right {
  font-size: 12px;
  color: #999;
}

@media(max-width: 600px) {
  .head {
    height: 100vh;
    padding: 10vh 5vw 0;
    background-size: auto 100%;
  } 
  .head .phone {
    display: none;
  }
  .head .down-arrow {
    margin-top: 12vh;
    height: 3vh;
  }
  .title > span:not(.title-line) {
    display: none;
  }
  .main {
    padding: 0 5vw;
    margin-bottom: 4vh;
    height: auto;
  }
  .main  .row .right {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .main  .row .left {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .main .row .right > h3 {
    text-align: center;
  }
  .main .row .left > h3 {
    text-align: center;
  }
  .main .row .right img {
    width: 100%;
    height: auto;
  }
  .main .row .left img {
    width: 100%;
    height: auto;
  }
  .footer {
    margin: 0;
    padding: 0;
  }
  .footer .container {
    margin: 5vw;
    padding: 3vh 0; 
    width: 90vw;
  }
  .footer .left {
    display: none;
  }
  .footer .center {
    display: none;
  }
  .footer .right {
    width: 100%;
    text-align: center;
  }
}
